<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
    
    <div class="col-md-4 mt-5 mx-auto shadow text-center">
        <span style='font-size:100px;'>&#129380;</span>
        <h2 class="mb-5">SoColD</h2>
    
        {% if errormsg %}
        <div class="alert alert-danger">
            {{errormsg}}
        </div>
            {% endif %}

                <form method="POST" action="">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="Input1" class="form-label"><strong>Username:</strong></label>
                        <input type="email" class="form-control" id="Input1" name="uname" placeholder="name@example.com">
                    </div>

                    <div class="mb-3">
                        <label for="Input2" class="form-label"><strong>Password:</strong></label>
                        <input type="password" class="form-control" id="Input2" name="upass" placeholder="password">
                    </div>

                    <div class="mb-3">
                        <input type="submit" class="btn btn-primary" value="Submit">
                        <a href="/password_reset_view" class="btn btn-link">Forgot Password?</a>
                    </div>
                </form>
                <p><a href="/registerr" style="text-decoration:none;">Try another way</a></p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
